@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<iframe src="~/Reports/PPMS/CETAK_BKMHK.aspx?bkmDate=2023-04-04&divisi=04&gang=04HC03" height="500" width="900" title="Iframe Example"></iframe>
